$druid-color: #FF7D0A;
$hunter-color: #ABD473;
$mage-color: #69CCF0;
$paladin-color: #F58CBA;
$priest-color: #FFFFFF;
$rogue-color: #FFF569;
$shaman-color: #0070DE;
$warlock-color: #9482C9;
$warrior-color: #C79C6E;

.druid{
  background: $druid-color;
}
.hunter{
  background: $hunter-color;
}
.mage{
  background: $mage-color;
}
.paladin{
  background: $paladin-color;
}
.priest{
  background: $priest-color;
}
.rogue{
  background: $rogue-color;
}
.shaman{
  background: $shaman-color;
}
.warlock{
  background: $warlock-color;
}
.warrior{
  background: $warrior-color;
}
