@import 'src/assets/scss/general.scss';

$primary-color: #f0f0f0;
#content-choose{
  background-color: $primary-color;
  #content-choose-class{
    padding: 25px;
    img{
      // display: block;
      // min-height: 150px;
      // max-height: 150px;
      // max-width: 300px;
      // min-width: 300px;
      // margin: 0 auto;
      // border: 1px solid black;
      // width: 100%;
    }
    li{
      .col{
        padding: 0;
      }
      text-align: center;
      list-style-type: none;
      display: inline-block;
      float: left;
      transition-property: transform,z-index,border;
      transition-timing-function: ease,linear,ease;
      transition-duration: .3s,.3s,.3s;
      background-color: #101217;
      border: 1px solid #32281f;
      color: #c4b998;
      cursor: pointer;
      display: inline;
      height: 340px;
      width: 31%;
      margin: .5em;
      overflow: hidden;
      position: relative;
      z-index: 1;
      @media screen and (max-width: 768px) {
        width: 46%;
      }
      @media screen and (max-width: 500px) {
        width: 100%;
      }
      .content-name-class{
        height: 40px;
        color: black;
        text-transform: capitalize;
        padding: 12px 12px;
        // border-top: 2px solid #c4b998;
        width: 100%;
        margin-top: 250px;
        height: 100%;

        h3{
          width: 100%;
        }
      }
    }
    li:last-child {
        margin-right: 0;
        padding-right: 0;
    }
  }
}
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #35495E;
}
