<template>
  <div class="" id="content-choose">
    <p>{{ msg }}</p>
    <p>Welcome to our Hearthstone Deck Builder! You can build decks for every class for Ladder, Tavern Brawl, and Adventure Mode!</p>
    <h2>choose your class</h2>
    <div class="container" id="content-choose-class">
      <div class="row">
        <ul>
          <li v-for="t_class in table_class">
            <div class="col">
              <img src="" alt="">
              <div v-bind:class="['content-name-class ' + t_class]">
                <h3>{{ t_class }}</h3>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'hello',
    data () {
      return {
        table_class: ['druid', 'hunter', 'mage', 'paladin', 'priest', 'rogue', 'shaman', 'warlock', 'warrior'],
        msg: 'Welcome to Your HEARTHSTONE DECK BUILDER'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import 'src/assets/scss/hello.scss';
</style>
